@import "tailwindcss";

body {
  background-color: #141414;
  background-image: repeating-linear-gradient(0deg, rgba(255,255,255,0.02), rgba(255,255,255,0.02) 1px, transparent 1px, transparent 30px),
                    repeating-linear-gradient(90deg, rgba(255,255,255,0.02), rgba(255,255,255,0.02) 1px, transparent 1px, transparent 30px);
}


.lets{
 font-family: 'Great Vibes';
}
